{{#embed "templates/base/component-demo/index"}}
	{{#content "head"}}
		<link rel="stylesheet" href="/components/voice-assistant/style.css">
		<link rel="stylesheet" href="/components/voice-assistant/demo/style.css">
	{{/content}}
	{{#content "body"}}
		<div class="fabric-voice-assistant-component-demo">
			<li><a href="google.com">google</a></li>
			<li><a href="https://www.victoriassecret.com">victorias secret</a></li>
			<li><button>test 3</button></li>
			<li><a href="#test4">test 4</a></li>
			<li><a href="#test5">test 5</a></li>
			<li><button>test 6</button></li>
			<div class="fabric-voice-assistant-component"></div>
		</div>
	{{/content}}
{{/embed}}
